@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;

}
.uit{
    display:inline-block;
    width:230px;
    height:100px;
  
}
.image{
    border:1px black none;
    border-radius:12Px; 
    margin-top:5px;
    background-color: rgb(218, 218, 218);
width:70px;
height:80px;



}
.show-btn{
  padding: 4px 8px;
  font-size: 17px;
  font-weight: 500;
  color: rgb(84, 142, 26);
  cursor: pointer;
  min-width:477px;
  top:510px;
  border-radius: 6px;
  border: 1px solid rgb(84, 142, 26);
  background: white;
}
.show-btn:hover{
     
    background:  rgb(84, 142, 26);
   color:white;
}


.show-btn, .container{
  position: absolute;
  transform: translate(-50%,-50%);
  
}


input[type="checkbox"]{
  display: none;
}
input[type="radio"]{
  display: inline;
}
.container{
  background:white;
  border:NOne;
    border-radius:12px;
    justify-content:space-between;
  display:none;
  max-width: 700px; 
  color:black;
  box-shadow: 4px 4px 15px black;
  top:50%;
  left: 50%;
  padding-bottom:15px;
 height:560px;
}
#show:checked ~ .container{
  display: block;
}
.container .close-btn{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.container .close-btn:hover{
  color: #3498db;
}

.container form{
  height: 45px;
  width: 100%;
  margin: 40px 0;
}


	span{
		display:inline-block;
		border-radius:6px;
		margin-left:32%;
		color:black;
	  margin-top:18px;
		min-width:400px;
		min-height:465px;
		
		

	}
.hr1{
  
border:1px solid grey;
border-top:none;
width:40%;
float:left;
margin-left:20px;
}
.hr2{
  border:1px solid grey;
border-top:none;
float:right;
width:40%;
margin-right:20px;
}
.btn1{
    min-width:100%;
    border:1px solid rgb(56, 112, 243);
    background:rgb(255, 255, 255  );
    padding:4px 8px;
    padding: 4px 8px;
  font-size: 17px;
color:rgb(56, 112, 243);
  
  cursor: pointer;
 
 
  border-radius:6px;
}
.btn1:hover{
  min-width:100%;
  border:1px solid rgb(56, 112, 243);
  background:dodgerblue;

  padding:4px 8px;
  padding: 4px 8px;
font-size: 17px;
color:white;

cursor: pointer;


border-radius:6px;
}
.btn2{
  min-width:70%;
  border:1px solid rgb(84, 142, 26);
  background:rgb(255, 255, 255  );
  padding:4px 8px;
  padding: 4px 8px;
font-size: 17px;
color:rgb(84, 142, 26);

cursor: pointer;


border-radius:6px;
}
.btn2:hover{
min-width:70%;
border:1px solid rgb(84, 142, 26);
background:rgb(84, 142, 26);

padding:4px 8px;
padding: 4px 8px;
font-size: 17px;
color:white;

cursor: pointer;


border-radius:6px;
}
.label1{
margin-right:220PX;
font-family:'Times New Roman', Times, serif;
font-size:larger;
}
.label2{
margin-right:258PX;
font-family:'Times New Roman', Times, serif;
font-size:larger;
}
.rnd{
  padding:3PX;
  border:none;
  width:20%;
  background: rgb(255, 255, 255);
  color:#000;
}


.hr0{
  margin-top:2%;
    width:70%;
    height: 0px;
border: none;
border-top: 1px solid rgb(94, 94, 94);
}
.mo{
    color:rgb(165, 164, 164);
}


p{

display:inline;
margin-left:10.5Px;
}

h1:hover{
color:rgb(100, 98, 98);

cursor:pointer;
}
.sx{
  margin-right:255px;
  font-size:15px;
}

.hr{
  border-bottom: 1px solid black;
}


.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}




.input1{
  color:rgb(0, 0, 0);
  padding:15px;
  margin:7px;
  width:300px;
  border-radius: 5px;
 background:rgb(241, 241, 241);
  border:2px Solid  rgb(1, 43, 74) ;

}
.input1:focus{
  color:black;
  border:none;
  border-bottom:5px solid rgb(68, 135, 203);
  border-radius: 0  px;
}
ul{
  float:right;
  display: flex;
  list-style: none;
  margin-top: 40px;
}

.navbar ul a{
display:inline-block;
 font-size:20px;
  text-decoration: none;
  min-width:120px;
  margin-right:5px;
  margin-top:30%;;
  justify-content:space-around;
  text-decoration: none;
color:white;
position: relative;
  }



.navbar ul a::after{
    content:'';
    position:absolute;
    background-color: black;
    height:3px;
    width:0%;
    bottom: -10px;
    right: 50%;
    transition: 0.5s;
    
}
.navbar ul a:hover::after{
    width:50%;
    left:0;
}


font{
  margin-top:-5px;
}
.navbar{
position:fixed;
}
